/* This file is for your main application css. */

@import "bootstrap";

h1 { text-align: center;
    margin: auto;
    width: 50%; }
.container { display: flex;
    flex-direction: column; }
.row { text-align: center; }
#game { text-align: center;
        margin: auto;
        width: 50%; }
#congrats { font-size: 1.5em; }